{
	"Type": "sap.ui.core.mvc.JSONView",
	"controllerName": "{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.{{projectName}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}",
	"content": [{
		"Type": "sap.m.App",
		"id": "app",
		"pages": [{
			"Type": "sap.m.Page",
			"id": "page",
			"title": "{i18n>title}",
			"content": [
			]
		}]
	}]
}